In [3]:
def hours():
    print("Open 9-5 daily")

In [5]:
import zoo

In [7]:
zoo.hours()

Open 9-5 daily

In [9]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [17]:
import sqlite3
con = sqlite3.connect('books.db')
cursor = con.cursor()
cursor.execute('''CREATE TABLE books(title TEXT, author TEXT, year INTEGER)''')
con.commit()
con.close()

OperationalError: table books already exists

In [31]:
import sqlite3
import csv
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books2.csv') as csvfile:
    csv_reader = csv.reader(csvfile)
    next(csv_reader, None)
    for row in csv_reader:
        title, author, year = row
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', (title, author, int(year)))
conn.commit()
conn.close()

In [33]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('SELECT title FROM books ORDER BY title ASC')
titles = cursor.fetchall()
for title in titles:
    print(title[0])
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!